<%= stylesheet_link_tag "jquery-ui" %>
<%= stylesheet_link_tag "booking" %>
<%= stylesheet_link_tag "jquery.fancybox" %>
<%= javascript_include_tag "bookings" %>

<div class="hotelName clearfix">
      <div class="container">
        <div class="clearfix"></div>
        <section class="hotelLayout">
          <div class="topTables">
            <ul class="clearfix">
              <li class="tables">
                <ul class="clearfix">
              <li><a href="#registration_form" id="1" class="topTable">&nbsp;</a>
	              <div class="tableDetails" style="display: none;">
			        <p>Capacity : <%= %></p>
			        <p>Note : <%= %></p>
			      </div>
			  </li>
              <li><a href="#registration_form" id="2" class="topTable">&nbsp;</a>
              	<div class="tableDetails" style="display: none;">
			        <p>Capacity : <%= %></p>
			        <p>Note : <%= %></p>
			      </div>
              </li>
              <li><a href="#registration_form" class="topTable">&nbsp;</a>
              	<div class="tableDetails" style="display: none;">
			        <p>Capacity : <%= %></p>
			        <p>Note : <%= %></p>
			      </div>
              </li>
              <li><a href="#registration_form" class="topTable">&nbsp;</a>
              	<div class="tableDetails" style="display: none;">
			        <p>Capacity : <%= %></p>
			        <p>Note : <%= %></p>
			      </div>
              </li>
            </ul>
            <ul class="clearfix">
              <li><a href="#registration_form" class="topTable">&nbsp;</a>
              	<div class="tableDetails1" style="display: none;">
			        <p>Capacity : <%= %></p>
			        <p>Note : <%= %></p>
			      </div>
              </li>
              <li><a href="#registration_form" class="topTable">&nbsp;</a>
              	<div class="tableDetails1" style="display: none;">
			        <p>Capacity : <%= %></p>
			        <p>Note : <%= %></p>
			      </div>
              </li>
              <li><a href="#registration_form" class="topTable">&nbsp;</a>
              	<div class="tableDetails1" style="display: none;">
			        <p>Capacity : <%= %></p>
			        <p>Note : <%= %></p>
			      </div>
              </li>
              <li><a href="#registration_form" class="topTable">&nbsp;</a>
              	<div class="tableDetails1" style="display: none;">
			        <p>Capacity : <%= %></p>
			        <p>Note : <%= %></p>
			      </div>
              </li>
            </ul>
            </li>
            <li>
              <div class="washroomTop">Washroom</div>
            </li>
            <li>
              <div class="specialRooms">
                <div class="table1">
                  <a href="#">&nbsp;</a>
                </div>
                <div class="table2">
                  <a href="#">&nbsp;</a>
                </div>
              </div>
            </li>

            </ul>
          </div>
          <div class="reception">
            <span><img src="/assets/entry.jpg"></span>
            <img src="/assets/waitingRoom.jpg">
            <img src="/assets/kitchen.jpg"/>
          </div>
          <div class="swimingPool"></div>
          <div class="bottomTable">
            <ul class="clearfix">
              <li>
                <ul class="clearfix">
                  <li class="tables">
                    <ul class="clearfix">
                      <li><a href="#registration_form" class="topTable" >&nbsp;</a>
                      	<div class="tableDetails2" style="display: none;">
			              <p>Capacity : <%= %></p>
			              <p>Note : <%= %></p>
			            </div>
                      </li>
                      <li><a href="#registration_form" class="topTable">&nbsp;</a>
                      	<div class="tableDetails2" style="display: none;">
			              <p>Capacity : <%= %></p>
			              <p>Note : <%= %></p>
			            </div>
                      </li>
                      <li><a href="#registration_form" class="topTable">&nbsp;</a>
                      	<div class="tableDetails2" style="display: none;">
			              <p>Capacity : <%= %></p>
			              <p>Note : <%= %></p>
			            </div>
                      </li>
                      <li><a href="#registration_form" class="topTable">&nbsp;</a>
                      	<div class="tableDetails2" style="display: none;">
			              <p>Capacity : <%= %></p>
			              <p>Note : <%= %></p>
			            </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              <li>
              <li>
                <ul class="clearfix">
                  <li><a href="#registration_form" class="topTable">&nbsp;</a>
                  	<div class="tableDetails3" style="display: none;">
			              <p>Capacity : <%= %></p>
			              <p>Note : <%= %></p>
			        </div>
                  </li>
                  <li><a href="#registration_form" class="topTable">&nbsp;</a>
                  	<div class="tableDetails3" style="display: none;">
			              <p>Capacity : <%= %></p>
			              <p>Note : <%= %></p>
			        </div>
                  </li>
                  <li><a href="#registration_form" class="topTable">&nbsp;</a>
                  	<div class="tableDetails3" style="display: none;">
			              <p>Capacity : <%= %></p>
			              <p>Note : <%= %></p>
			        </div>
                  </li>
                  <li><a href="#registration_form" class="topTable">&nbsp;</a>
                  	<div class="tableDetails3" style="display: none;">
			              <p>Capacity : <%= %></p>
			              <p>Note : <%= %></p>
			        </div>
                  </li>
                </ul>
            </li>

            </ul>
          </div>
        </section>
      </div>
    </div>
  </section>
 <div class="clearfix"></div>

 <!-- booking fancy form : start -->
 <%= form_for @booking, :url => { :action => :create }, :html =>{ :style => 'display : none', :id => 'registration_form'} do |f| %>
    <fieldset>
      <p>
        <%= f.label :user_name, "Name" %><br />
        <%= f.text_field :user_name %>
      </p>
      <p>
        <%= f.label :phone_number, "Phone" %><br />
        <%= f.text_field :phone_number %>
      </p>
      <p>
        <%= f.label :email, "Email" %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :time_slot, "DateTime" %><br />
        <%= f.text_field :time_slot %>
      </p>
        <input type="hidden" name="booking[table_id]" id="table_id" />
        <input type="submit" value="Register" class="btn btn-large pull-right" />
    </fieldset>
<% end %><!-- booking fancy form : end -->
