<%= stylesheet_link_tag "jquery-ui" %>
<%= stylesheet_link_tag "booking" %>
<%= stylesheet_link_tag "jquery.fancybox" %>
<%= javascript_include_tag "bookings" %>

<div class="hotelName clearfix">
      <div class="container">
        <div class="clearfix"></div>
        <section class="hotelLayout">
          <div class="topTables">
            <ul class="clearfix">
              <li class="tables">
                <ul class="clearfix">
              <li><a href="#registration_form" class="topTable">&nbsp;</a>
	              <div class="tableDetails" style="display: none;">
			        <p>Capacity : <%= %></p>
			        <p>Note : <%= %></p>
			      </div>
			  </li>
              <li><a href="#registration_form" class="topTable">&nbsp;</a>
              	<div class="tableDetails" style="display: none;">
			        <p>Capacity : <%= %></p>
			        <p>Note : <%= %></p>
			      </div>
              </li>
              <li><a href="#registration_form" class="topTable">&nbsp;</a>
              	<div class="tableDetails" style="display: none;">
			        <p>Capacity : <%= %></p>
			        <p>Note : <%= %></p>
			      </div>
              </li>
              <li><a href="#registration_form" class="topTable">&nbsp;</a>
              	<div class="tableDetails" style="display: none;">
			        <p>Capacity : <%= %></p>
			        <p>Note : <%= %></p>
			      </div>
              </li>
            </ul>
            <ul class="clearfix">
              <li><a href="#registration_form" class="topTable">&nbsp;</a>
              	<div class="tableDetails1" style="display: none;">
			        <p>Capacity : <%= %></p>
			        <p>Note : <%= %></p>
			      </div>
              </li>
              <li><a href="#registration_form" class="topTable">&nbsp;</a>
              	<div class="tableDetails1" style="display: none;">
			        <p>Capacity : <%= %></p>
			        <p>Note : <%= %></p>
			      </div>
              </li>
              <li><a href="#registration_form" class="topTable">&nbsp;</a>
              	<div class="tableDetails1" style="display: none;">
			        <p>Capacity : <%= %></p>
			        <p>Note : <%= %></p>
			      </div>
              </li>
              <li><a href="#registration_form" class="topTable">&nbsp;</a>
              	<div class="tableDetails1" style="display: none;">
			        <p>Capacity : <%= %></p>
			        <p>Note : <%= %></p>
			      </div>
              </li>
            </ul>
            </li>
            <li>
              <div class="washroomTop">Washroom</div>
            </li>
            <li>
              <div class="specialRooms">
                <div class="table1">
                  <a href="#">&nbsp;</a>
                </div>
                <div class="table2">
                  <a href="#">&nbsp;</a>
                </div>
              </div>
            </li>

            </ul>
          </div>
          <div class="reception">
            <span><img src="/assets/entry.jpg"></span>
            <img src="/assets/waitingRoom.jpg">
            <img src="/assets/kitchen.jpg"/>
          </div>
          <div class="swimingPool"></div>
          <div class="bottomTable">
            <ul class="clearfix">
              <li>
                <ul class="clearfix">
                  <li class="tables">
                    <ul class="clearfix">
                      <li><a href="#registration_form" class="topTable" >&nbsp;</a>
                      	<div class="tableDetails2" style="display: none;">
			              <p>Capacity : <%= %></p>
			              <p>Note : <%= %></p>
			            </div>
                      </li>
                      <li><a href="#registration_form" class="topTable">&nbsp;</a>
                      	<div class="tableDetails2" style="display: none;">
			              <p>Capacity : <%= %></p>
			              <p>Note : <%= %></p>
			            </div>
                      </li>
                      <li><a href="#registration_form" class="topTable">&nbsp;</a>
                      	<div class="tableDetails2" style="display: none;">
			              <p>Capacity : <%= %></p>
			              <p>Note : <%= %></p>
			            </div>
                      </li>
                      <li><a href="#registration_form" class="topTable">&nbsp;</a>
                      	<div class="tableDetails2" style="display: none;">
			              <p>Capacity : <%= %></p>
			              <p>Note : <%= %></p>
			            </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              <li>
              <li>
                <ul class="clearfix">
                  <li><a href="#registration_form" class="topTable">&nbsp;</a>
                  	<div class="tableDetails3" style="display: none;">
			              <p>Capacity : <%= %></p>
			              <p>Note : <%= %></p>
			        </div>
                  </li>
                  <li><a href="#registration_form" class="topTable">&nbsp;</a>
                  	<div class="tableDetails3" style="display: none;">
			              <p>Capacity : <%= %></p>
			              <p>Note : <%= %></p>
			        </div>
                  </li>
                  <li><a href="#registration_form" class="topTable">&nbsp;</a>
                  	<div class="tableDetails3" style="display: none;">
			              <p>Capacity : <%= %></p>
			              <p>Note : <%= %></p>
			        </div>
                  </li>
                  <li><a href="#registration_form" class="topTable">&nbsp;</a>
                  	<div class="tableDetails3" style="display: none;">
			              <p>Capacity : <%= %></p>
			              <p>Note : <%= %></p>
			        </div>
                  </li>
                </ul>
            </li>
              <li>
                <div>dfkjkdfjdf</div>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </section>
 <div class="clearfix"></div>

 <!-- booking fancy form : start -->
<form action="#registration_url" method="post" id="registration_form">
    <fieldset>
        <label for="reservation_name">Name:</label>
        <input type="text" name="name" id="reservation_name" />
        <label for="reservation_email">email:</label>
        <input type="text" name="email" id="reservation_email" />
        <label for="reservation_phone">Phone:</label>
        <input type="text" name="phone" id="reservation_phone" />
        <input type="hidden" name="hotel_id" id="hotel_id" />
        <input type="hidden" name="table_id" id="table_id" />
        <label for="reservation_time">time:</label>
        <input type="text" name="email" id="reservation_time" />
        <input type="submit" value="Register" class="btn btn-large pull-left" />
    </fieldset>
</form><!-- booking fancy form : end -->