 <%= javascript_include_tag "home" %>
  <section class="homeSearchFullWrap">
    <div class="container">
      <div class="searchPanel">
        <select name="country_id" class="selectCity" id="country_id" tabindex="1">
          <option value ="pune">Pune</option>
          <option value = "mumbai">Mumbai</option>
        </select>
      </div>
    </div>
  </section>
  <section class="cityHotelList">
    <div class="container">
      <div class="row">
        <ul class="hotelList">
          <% @hotels.each do |hotel|%>
          <li class="<%= hotel.city %>_selected">
            <a href="<%= new_hotel_booking_path(hotel) %>">
              <img src="<%= hotel.main_image %>">
              <span class="hotelName"><%= hotel.name %></span>
            </a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>

