<%= form_for @gallery,:url=> {:action => "create"} do |f| %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <%= f.fields_for :images do |i| %>
   <%= i.file_field :data %>
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>

<script type=text/javascript>
    $(document).ready(function(){
        var gallery_title = new LiveValidation( 'gallery_title', {validMessage:" ",onlyOnSubmit: true } );
        gallery_title.add( Validate.Presence);
    });
</script>