<h1>Hotels</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>City</th>
      <th>Add Images of hotel</th>
    </tr>
  </thead>
  <tbody>
  <% @hotels.to_enum.with_index(1) do |hotel, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= hotel.name %></td>
      <td><%= hotel.address %></td>
      <td><%= hotel.phone_number %></td>
      <td><%= hotel.city %></td>
      <td><%= link_to "add images", new_hotel_gallery_path(hotel) %></td>
    </tr>
  <% end %>    
  </tbody>
</table>