<h1>Add New Hotel</h1>
<div class="span5">
  <%= form_for @hotel, :multipart => true, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="control-group">
      <%= f.label :name, "Name", :class => 'control-label'  %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :address, "Address", :class => 'control-label'  %>
      <div class="controls">
        <%= f.text_field :address %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :city, "City", :class => 'control-label'  %>
      <div class="controls">
        <%= f.text_field :city %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :website, "Website-Url", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :website, :placeholder => 'http://www.website.com'  %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :phone_number, "Phone", :class => 'control-label'  %>
      <div class="controls">
        <%= f.text_field :phone_number %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :main_image, "Hotel Image", :class => 'control-label'  %>
      <div class="controls">
        <%= f.file_field :main_image %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls" id="webo-new-post-submit-btn">
        <%= f.submit "Save",:class => "btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>

<script type=text/javascript>
    $(document).ready(function(){
    var hotel_name = new LiveValidation( 'hotel_name', {validMessage:" ",onlyOnSubmit: true } );
    hotel_name.add( Validate.Presence);
    var hotel_address = new LiveValidation( 'hotel_address', {validMessage:" ",onlyOnSubmit: true } );
    hotel_address.add( Validate.Presence);
    var hotel_city = new LiveValidation( 'hotel_city', {validMessage:" ",onlyOnSubmit: true } );
    hotel_city.add( Validate.Presence);
    var hotel_website =  new LiveValidation( 'hotel_website', {validMessage:" ",onlyOnSubmit: true } );
    hotel_website.add( Validate.Presence);
    var hotel_phone_number = new LiveValidation( 'hotel_phone_number', {validMessage:" ",onlyOnSubmit: true } );
        hotel_phone_number.add( Validate.Presence);
    });
</script>